<div id="test-swipe-3" style="min-height: 700px;">
	<div class="container">
		<h4 class="thin">Branch Stock Requests - Errors</h4>
		<p>Here you can diagnose and remove the possible errors occuring in the attributes (data preprocessing).</p>



		<div class="row" style="padding-top: 3%; padding-bottom: 3%;">
				<h5 class="light"><a class="btn btn-floating orange darken-2 pulse"><i class="material-icons">error_outline</i></a> Null values are present in <span class="blue-text">quantity</span> attribute.</h5>
				<p>There are <b>23 null</b> value entries fount.</p>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with avg</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with 0</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with min</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with max</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with custom</a>
				<a class="waves-effect waves-light btn">Ignore</a>
		</div>

		<div class="row" style="padding-top: 3%; padding-bottom: 3%;">
				<h5 class="light"><a class="btn btn-floating orange darken-2 pulse"><i class="material-icons">error_outline</i></a> Null values are present in <span class="blue-text">food_type</span> attribute.</h5>
				<p>There are <b>7 null</b> value entries fount.</p>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with most occuring</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with least occuring</a>
				<a class="waves-effect waves-light btn blue lighten-2">Fill with custom</a>
				<a class="waves-effect waves-light btn">Ignore</a>
		</div>


		<div class="row" style="padding-top: 3%; padding-bottom: 3%;">
				<h5 class="light"><a class="btn btn-floating blue darken-2 pulse"><i class="material-icons">error_outline</i></a> Anomalies found in <span class="blue-text">quantity</span> attribute.</h5>



				  <div class="row">
				  	<div class="col s1">
				  		<p style="padding-top: 10%;">1.</p>
				  	</div>
				    <div class="input-field col s3">
				      <input value="17861" id="first_name2" type="number" class="validate">
				      <label class="active" for="first_name2">quantity</label>
				    </div>
				    <div class="col s4">
				    	<p style="padding-top: 4%;"><small>on</small> 2017-12-13 05:30:00</p>
				    </div>
				  </div>


				  <div class="row">
				  	<div class="col s1">
				  		<p style="padding-top: 10%;">2.</p>
				  	</div>
				    <div class="input-field col s3">
				      <input value="2" id="first_name2" type="number" class="validate">
				      <label class="active" for="first_name2">quantity</label>
				    </div>
				    <div class="col s4">
				    	<p style="padding-top: 4%;"><small>on</small> 2017-12-15 02:44:18</p>
				    </div>
				  </div>
				  <div class="container">
				  	 <a class="waves-effect waves-light btn">Ignore</a>
				     <a class="waves-effect waves-light btn blue lighten-2 center">Update</a>
				  </div>
		</div>




		<div class="row" style="padding-top: 3%; padding-bottom: 3%;">
				<h5 class="light"><a class="btn btn-floating blue darken-2 pulse"><i class="material-icons">error_outline</i></a> Anomalies found in <span class="blue-text">food_type</span> attribute.</h5>



				  <div class="row">
				  	<div class="col s1">
				  		<p style="padding-top: 10%;">1.</p>
				  	</div>
				    <div class="input-field col s3">
				      <input value="Appld" id="first_name2" type="text" class="validate">
				      <label class="active" for="first_name2">food_type</label>
				    </div>
				    <div class="col s4">
				    	<p style="padding-top: 4%;"><small>on</small> 2017-12-13 05:30:00</p>
				    </div>
				  </div>


				  <div class="container">
				  	 <a class="waves-effect waves-light btn">Ignore</a>
				     <a class="waves-effect waves-light btn blue lighten-2 center">Update</a>
				  </div>
		</div>

	</div>
</div>