<div id="test-swipe-1" style="min-height: 700px;">
<div class="container">
		<h4 class="thin">Branch Stock Requests</h4>
		<p>The branch stock requests are the requests made by chefs, kitchen manager etc. to the backend store owners. The requests are based on the current requirements of the kitchens and it takes some while to get granded from the backend store.</p>
		<P>The primary issues faced by branch stock requests are forecasting the quantity of raw materials  and reduce the delivery time of raw materials to the kitchen.</P>
		<a class="waves-effect waves-light btn blue lighten-3">jan 8-14</a>
		<a class="waves-effect waves-light btn blue lighten-3">jan 15-22</a>
		<a class="waves-effect waves-light btn blue lighten-3">jan 23-30</a>
		<a class="waves-effect waves-light btn blue lighten-3">jan 31- feb 6</a>
		<a class="waves-effect waves-light btn blue lighten-3">feb 7-14</a>
		<a class="waves-effect waves-light btn blue lighten">jan</a>
		<a class="waves-effect waves-light btn blue lighten">feb</a>
</div>

	<div class="container" style="margin-top: 3%;">
		<div class="row">
		<div id="container" class="card col s9" ></div>
			<div id="sliders" class="col s3">
			    <table>
			        <tr>
			        	<td>Alpha</td>
			        	<td><input id="alpha" type="range" min="0" max="45" value="15"/> <span id="alpha-value" class="value"></span></td>
			        </tr>
			        <tr>
			        	<td>Beta</td>
			        	<td><input id="beta" type="range" min="-45" max="45" value="15"/> <span id="beta-value" class="value"></span></td>
			        </tr>
			        <tr>
			        	<td>Depth</td>
			        	<td><input id="depth" type="range" min="20" max="100" value="50"/> <span id="depth-value" class="value"></span></td>
			        </tr>
			    </table>
			</div>
		</div>
		<a class="waves-effect waves-light btn indigo">Quantity</a>
		<a class="waves-effect waves-light btn indigo">Amount</a>
	</div>

	<div class="container">
		<h4 class="thin">Summary</h4>
		<p></p>
		<br>
	</div>

</div>